// BASE COLORS
$baseColorCrimson: #ef2b58;
$baseColorSlateBlue: #6151fb;
$baseColorDodgerBlue: #1b8be3;
$baseColorGold: #ffa427;
$baseColorPurple: #be1de7;

@function CrimsonHSL($lightness: 55%) {
    @return hsl(346, 86%, $lightness);
}

@function SlateBlueHSL($lightness: 65%) {
    @return hsl(246, 96%, $lightness);
}

@function DodgerBlueHSL($lightness: 50%) {
    @return hsl(206, 79%, $lightness);
}

@function GoldHSL($lightness: 58%) {
    @return hsl(35, 100%, $lightness);
}

// SITE COLORS
$colorFadedRed: #fcd5de;
$colorFadedPurple: rgb(176, 168, 255);
$colorFadedBlue: #d1e8f9;
$colorFadedGold: #ffedd4;
$colorBgDark: #13161a;
$colorBgDarker: #010409;
$colorTextPrimary: white;

// GRADIENTS
$gradientBtnPurple: linear-gradient(
    to bottom, 
    #d369ef,
    $baseColorPurple
);
$gradientBtnGray: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2),
);
$colorBtnHover: rgba(0, 0, 0, .1);

// TEXT
$colorLinkActive: rgba($colorTextPrimary, .4);
$colorLinkHover: rgba($colorTextPrimary, .6);

@mixin LinkBtnColor() {
    color: $colorLinkActive;
    transition: color .2s;

    &:hover {
        color: $colorLinkHover;
    }
}