@import "colors";
@import "responsiveSize";
@import "font";
@import "mixinPresets";

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

$sectionSpacing: 1.5rem;
// $sectionBlockShadow: 0 0 2rem -0.5rem rgba(0, 0, 0, .15);
$sectionBlockShadow: 0 0 2rem -0.5rem rgba(255, 255, 255, .1);
$dashboardHeadingHeight: 4rem;

// Z-INDEX VALUES
$zIndexHeader: 1000;