@import "../../../../styles/uiBase.scss";

$asideHeaderTransitionDuration: .3s;
$asideHeaderDesktopWidth: 25rem;

.dashContentWrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    .content {
        display: flex;
        position: relative;
        justify-content: flex-end;
    }
}

.pageOverlay {
    @include largeVW() {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: $zIndexHeader;
        pointer-events: none;
        transition: background-color $asideHeaderTransitionDuration;

        &.show {
            pointer-events: all;
            background-color: rgba(0, 0, 0, .3);
        }
    }
}

.asideHeaderWrapper {
    width: 100%;
    max-width: $asideHeaderDesktopWidth;
    position: fixed;
    // top: $dashboardHeadingHeight;
    top: 0;
    bottom: 0;
    // height: calc(100vh - #{$dashboardHeadingHeight});
    left: 0;

    @include largeVW() {
        top: 0;
        left: auto;
        right: 0;
        height: 100vh;
        z-index: $zIndexHeader + 1;
        transform: translateX(100%);
        transition: box-shadow $asideHeaderTransitionDuration, transform $asideHeaderTransitionDuration;
        
        &.show {
            transform: translateX(0);
            box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .5);
        }
    }
}

.innerContentWrapper {
    position: relative;
    width: calc(100% - #{$asideHeaderDesktopWidth});
    height: 100vh;
    z-index: $zIndexHeader - 1;
    background-color: $colorBgDarker;
    
    @include largeVW() {
        width: 100%;
    }
    
    .scrollWrapper {
        position: relative;
        height: calc(100% - #{$dashboardHeadingHeight});
        padding: 2rem 2rem 2rem 2rem;
        overflow: auto;

        @include mobileVW() {
            padding: 2rem 5vw;
        }
    }
}