@import "../../../styles/uiBase.scss";

$listLeftPadding: 2rem;

@mixin quickStatColors($fadedColor, $hoverColor, $iconColor) {
    background-color: $fadedColor;
        
    &:hover {
        background-color: $hoverColor
    }

    .hexagonIcon {
        color: $iconColor;
    }
}

.dashOverviewWrapper {

}

.sectionHeading {
    @include sectionHeadingFont();
}

.quickStatsWrapper {
    display: flex;
    margin: 0 auto $sectionSpacing auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quickStat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(25% - 1rem);
    padding: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color .2s, transform .2s;

    &:hover {
        transform: translateY(-0.25rem);
    }

    @include mediumVW() {
        width: calc(25% - .75rem);
    }

    @include mobileVW() {
        width: calc(50% - .5rem);
        padding: 1rem;

        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 1rem;
        }
    }

    @include tinyVW() {
        width: 100%;

        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }
    }

    .textWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    }

    &:last-child {
        margin-right: 0
    }

    &:nth-child(1) {
        @include quickStatColors(SlateBlueHSL(82%), SlateBlueHSL(75%), $baseColorSlateBlue)
    }

    &:nth-child(2) {
        @include quickStatColors(CrimsonHSL(80%), CrimsonHSL(75%), $baseColorCrimson)
    }

    &:nth-child(3) {
        @include quickStatColors(DodgerBlueHSL(70%), DodgerBlueHSL(65%), $baseColorDodgerBlue);
    }

    &:nth-child(4) {
        @include quickStatColors(GoldHSL(75%), GoldHSL(70%), $baseColorGold);
    }
    
    .statTitle {
        @include sectionHeadingFont();
        margin-bottom: 0.5rem;
    }

    .statValue {
        font-size: 2.5rem;
        font-weight: bold;

        @include mobileVW() {
            font-size: 2.2rem;
        }
    }
}

.statIconWrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1.5rem;

    @include mobileVW() {
        margin-bottom: 1rem;
    }

    @include tinyVW() {
        margin-bottom: .5rem;
    }

    .hexagonIcon {
        transform: rotate(90deg);
        font-size: 4rem;

        @include mobileVW() {
            font-size: 3.5rem;
        }
    }

    .statIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.75rem;
        color: white;
        transform: translate(-50%, -50%);

        @include mobileVW() {
            font-size: 1.5rem;
        }
    }
}

.listsFlexWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .listsWrapper,
    .activitiesWrapper {
        box-shadow: $sectionBlockShadow;
        border: 2px solid #222;
        border-radius: 1.5rem;

        .listItem {
            @include listRowPreset();

            * {
                position: relative;
            }
        }
    }

    .listHeading {
        display: flex;
        justify-content: space-between;
        padding: 1rem $listLeftPadding;

        .viewMoreBtn {
            @include LinkBtnColor();
        }
    }

    .listsWrapper {
        width: calc(60% - 1rem);
        
        .listItem {
            
            &.selected {
                @include listRowPreset(0s, 1, $gradientBtnPurple);
                background: $gradientBtnPurple;
            }
        }
    }
    
    .activitiesWrapper {
        width: calc(40% - 1rem);
    }
    
    @include mediumVW() {
        .listsWrapper,
        .activitiesWrapper {
            width: 100%;
        }

        .listsWrapper {
            margin-bottom: 2rem;
        }
    }

    .listItem {
        display: flex;
        align-items: center;
        padding: 1rem $listLeftPadding;
        border-radius: inherit;
        cursor: pointer;
    }
}

.peopleAmnt,
.activityPrice {
    margin-left: 1rem;
}

.peopleAmnt {

}

.peopleIcon {
    margin-right: 0.25rem;
}

.activityPrice {

}