@import "../../../styles/uiBase.scss";

$listLeftPadding: 2rem;

@mixin quickStatColors($color) {
    background-color: rgba($color, .2);
        
    &:hover {
        background-color: rgba($color, .35);
    }

    .hexagonIcon {
        color: $color;
    }
}

.dashOverviewWrapper {

}

.sectionHeading {
    @include sectionHeadingFont();
}

.quickStatsWrapper {
    display: flex;
    margin: 0 auto $sectionSpacing auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quickStat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(25% - 1rem);
    padding: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color .2s;

    @include mediumVW() {
        width: calc(25% - .75rem);
    }

    @include mobileVW() {
        width: calc(50% - .5rem);
        padding: 1rem;

        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 1rem;
        }
    }

    @include tinyVW() {
        width: 100%;

        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }
    }

    .textWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    &:last-child {
        margin-right: 0
    }

    &:nth-child(1) {
        @include quickStatColors($baseColorSlateBlue)
    }

    &:nth-child(2) {
        @include quickStatColors($baseColorCrimson)
    }

    &:nth-child(3) {
        @include quickStatColors($baseColorDodgerBlue);
    }

    &:nth-child(4) {
        @include quickStatColors($baseColorGold);
    }
    
    .statTitle {
        @include sectionHeadingFont();
        margin-bottom: 0.5rem;
    }

    .statValue {
        font-size: 2.5rem;
        font-weight: bold;

        @include mobileVW() {
            font-size: 2.2rem;
        }
    }
}

.statIconWrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1.5rem;

    @include mobileVW() {
        margin-bottom: 1rem;
    }

    @include tinyVW() {
        margin-bottom: .5rem;
    }

    .hexagonIcon {
        transform: rotate(90deg);
        font-size: 4rem;

        @include mobileVW() {
            font-size: 3.5rem;
        }
    }

    .statIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.75rem;
        color: white;
        transform: translate(-50%, -50%);

        @include mobileVW() {
            font-size: 1.5rem;
        }
    }
}

.listsFlexWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .listsWrapper,
    .activitiesWrapper {
        box-shadow: $sectionBlockShadow;
        border-radius: 1.5rem;
    }

    .listHeading {
        display: flex;
        justify-content: space-between;
        padding: 1rem $listLeftPadding;

        .viewMoreBtn {
            @include LinkBtnColor();
        }
    }

    
    .listsWrapper {
        width: calc(60% - 1rem);
        
        .listItem {
            
            &:not(.selected):hover {
                background-color: $colorBtnHover;
            }
            
            &.selected {
                transition: color 0s;
                background: $gradientBtnPurple;
                color: white;
            }
        }
    }
    
    .activitiesWrapper {
        width: calc(40% - 1rem);
        
        .listItem {
            display: flex;
            justify-content: space-between;
            
            &:hover {
                background-color: $colorBtnHover;
            }
        }
    }
    
    @include mediumVW() {
        .listsWrapper,
        .activitiesWrapper {
            width: 100%;
        }

        .listsWrapper {
            margin-bottom: 2rem;
        }
    }

    .listItem {
        display: flex;
        align-items: center;
        padding: 1rem $listLeftPadding;
        border-radius: inherit;
        cursor: pointer;
        transition: all .1s;
        
        &:hover {
            box-shadow: 0 0 1rem -0.25rem rgba(0, 0, 0, .05);
        }
    }
}

.peopleAmnt,
.activityPrice {
    margin-left: 1rem;
}

.peopleAmnt {

}

.peopleIcon {
    margin-right: 0.25rem;
}

.activityPrice {

}