@import "../../../../styles/uiBase.scss";

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: $zIndexHeader;
    height: $dashboardHeadingHeight;
    padding: .5rem 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

.leftContent {

    .heading {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.rightContent {
    display: flex;
    align-items: center;

    .menuIcon {
        margin-left: 1rem;
        font-size: 2rem;
        cursor: pointer;
        display: none;

        @include largeVW() {
            display: block;
        }
    }
}

.profileMenuWrapper {
    position: relative;
}

.profileImg {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profileMenu {
    position: absolute;
    right: -0.6rem;
    bottom: 0;
    transform: translate(0, calc(100% + 1rem));
    opacity: 0;
    pointer-events: none;
    background-color: white;
    width: 10rem;
    border-radius: .5rem;
    box-shadow: $sectionBlockShadow;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: opacity .2s, pointer-events 0s .2s;

    &::before {
        content: "";
        position: absolute;
        background-color: inherit;
        top: 0;
        right: 1rem;
        width: 1rem;
        height: 1rem;
        border: 2px solid rgba(0, 0, 0, .1);
        border-right: none;
        border-bottom: none;
        transform: translateY(calc(-50% - 1px)) rotate(45deg);
    }

    &.show {
        pointer-events: all;
        opacity: 1;
    }

    a {
        @include listRowPreset(1rem);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        position: relative;
        display: block;
        padding: 1rem 2rem;
        border-radius: inherit;

        &:hover {

        }

    }
}